button {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background-color: gray;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: silver;
}
button:active{
    background-color: #C0C0C080;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: gray;
    color: white;

}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.operator-btn {
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);

}
.equals-btn {
    background-color: #00f;
}
.equals-btn:hover{
    background-color: #0000ff60 ;
}
.blue-btn {
    background-color: #007BFF;
    color: white;
  }

.wide-btn {
    grid-column: span 2;
  }
.empty-space{
    background-color: gray;
    border-radius: 5rem;
}
.wide-btn{
    grid-column: span 2;
    aspect-ratio: auto;
    height: 100px;
    border-radius: 50px;
}
.red-btn {
    background-color: red;
    color: white;
}

.red-btn:hover{
    background-color: #ff4d4d;
}
.blue-btn:hover{
    background-color: #007bff80;
}
.blue-btn:active{
    background-color: #007bff30;
}
.red-btn:active{
    background-color: #ff4d4d60;
}
